body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.child {
  display: block;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.feature p {
  text-align: center;
  display: flex;
}

.container h1 {
  text-align: center
}

.feature .voteup:hover {
  color: green;
  cursor: pointer;
}

.feature .votedown:hover {
  color: red;
  cursor: pointer;
}