body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color       : #F3F3F3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display        : flex;
  justify-content: center;
  flex-direction : column;
  align-self     : center;
  margin-top: 1.5rem;
}

.child {
  display    : block;
  width      : 45rem;
  margin-left: 10rem;
}

.feature {
  padding         : 0.3rem 1rem 0.3rem 1rem;
  border          : 0px solid;
  border-radius   : 0.3rem;
  margin-bottom   : 0.5rem;
  background-color: white;
}

.product {
  padding         : 0.3rem 1rem 0.3rem 1rem;
  border          : 0px solid;
  border-radius   : 0.3rem;
  margin-bottom   : 0.5rem;
  background-color: white;
}

.inputContainer {
  padding      : 0.3rem 0rem 0.3rem 0rem;
  margin-bottom: 1rem;
}

.inputBar {
  width        : 102.5%;
  border-radius: 0.3rem;
  border       : 0px solid;
  height       : 2rem;
  padding      : 0.3rem 0.5rem 0.3rem 0.5rem;
}

.feature .feature-container {
  text-align: center;
  display   : flex;
  padding   : 1rem;
}

.product .product-container {
  text-align: center;
  display   : flex;
  padding   : 1rem;
}

.product-container  .image-container {
  height: 90px;
  width: 90px;
  margin-right: 20px;
  padding: 3px;
}

.product-container  .image-container img{
  height: 85px;
  width: 85px;
}


.feature-container .content {
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
}

.product-container .content {
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
  text-align: start;
}

.feature-content {
  font-weight: 600;
  color: #3e3e3e;
}

.product-content {
  cursor: pointer;
}

.feature-container .tag-container {
  font-size     : 11px;
  text-transform: capitalize;
  color         : #6f6f6f;
  padding       : 0;
  margin-right  : 12px;
  display: flex;
}

.product-container .tag-container {
  font-size     : 11px;
  text-transform: capitalize;
  color         : #6f6f6f;
  padding       : 0;
  margin-right  : 12px;
  display: flex;
}

.feature:hover {
  box-shadow: 5px 2px 5px 1px #9999a5;
}

.product:hover {
  box-shadow: 5px 2px 5px 1px #9999a5;
}

.container h1 {
  text-align: center
}

.voteup:hover {
  color : gray;
  cursor: pointer;
}

.votedown:hover {
  color : gray;
  cursor: pointer;
}

.votedDown {
  color : red;
  cursor: pointer;
}

.votedUp {
  color : green;
  cursor: pointer;
}

.loader {
  border           : 16px solid #f3f3f3;
  border-radius    : 50%;
  border-top       : 16px solid #3498db;
  width            : 120px;
  height           : 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation        : spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.utterances {
  margin-left: 10rem;
}

.product-title {
  display: flex;
  font-weight: 600;
  color: #3e3e3e;
}

.product-description {
  font-size: 11px;
  padding-right: 4.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.product-title p {
  margin: auto 0.2rem auto 0.2rem;
  font-size: 12px;
  cursor: pointer;
}

.product-title .sort {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.tag-container {
  margin-top: 1.5rem;
}

.tag-container .tag {
  background-color: #EFEFEF;
  margin: 0 0.5rem 0 0;
  color: #333333;
}

.container.votes {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.votes-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-radius   : 0.3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  min-width: fit-content;
  height: fit-content;
}

.votes-container:hover {
  background-color: #F3F3F3;
}

p.highlight {
  color: #218888;
}