  name: Assigned Issues Are In Progress

  on:
    issues:
      types: [assigned]

  jobs:
    move-to-in-progress:
      runs-on: ubuntu-latest
      name: Move to In Progress Column
      steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Move to In Progress
        uses: kin/gh-action-move-issues-to-column@v1.0
        with:
          access-token: "#{{ secrets.GITHUB_TOKEN }}"
          project-name: "Roadmap"
          target-column: "In progress"

